body {
  margin: 0;
  padding: 0;
  background: url(pic2.gif)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  font-family: calibri;
}

.header {
  width: 420px;
  height: 620px;
  background: rgba(255, 255, 255, 0.5);
  color: #C28285;
  top: 50%;
  left: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
h1{
  margin: 0;
  padding: 0 020px;
  text-align: center;
  font-size: 33px;
}
.header p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.header input{
  width: 100%;
  margin-bottom: 20px;
}
.header input[type="text"], input[type="email"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #C28285;
  font-size: 16px;
}
.header input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
}
a{
  color: #D85A7FFF;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}